body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    position: fixed;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    background: #34495e;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #1abc9c;
}

.content {
    margin-left: 260px;
    padding: 30px;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.card {
    width: 200px;
    background: white;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card img {
    width: 150px;
    height: auto;
}
button, .btn {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 250px;
}
